@page
@model quanlyvanchuyencakoi.web3.Pages.Admin.Product.DeleteModel
@{
}

<h2>@ViewData["Title"]</h2>

<h3>Bạn có chắc chắn muốn xóa product này không?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Model.product.IdProduct
        </dd>
        <dt class="col-sm-2">
            Name Product
        </dt>
        <dd class="col-sm-10">
            @Model.product.NameProduct
        </dd>
        <dt class="col-sm-2">
            Note
        </dt>
        <dd class="col-sm-10">
            @Model.product.Note
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.product.Price
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @Model.product.ImgProduct
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="product.IdProduct" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>