@page
@model quanlyvanchuyencakoi.web3.Pages.Admin.FeedBack.DeleteModel
@{
}

<h2>@ViewData["Title"]</h2>

<h3>Bạn có chắc chắn muốn xóa feed back này không?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Model.feedback.IdFeedBack
        </dd>
        <dt class="col-sm-2">
            Id User
        </dt>
        <dd class="col-sm-10">
            @Model.feedback.IdUser
        </dd>
        <dt class="col-sm-2">
            Id product
        </dt>
        <dd class="col-sm-10">
            @Model.feedback.IdProduct
        </dd>
        <dt class="col-sm-2">
            Coment
        </dt>
        <dd class="col-sm-10">
            @Model.feedback.Coment
        </dd>
        <dt class="col-sm-2">
            Date
        </dt>
        <dd class="col-sm-10">
            @Model.feedback.Date
        </dd>
        <dt class="col-sm-2">
            Review
        </dt>
        <dd class="col-sm-10">
            @Model.feedback.ProductReview
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="feedback.IdFeedBack" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>