@page
@model quanlyvanchuyencakoi.web3.Pages.Admin.FeedBack.IndexModel
@{
}

<h2>Feed Back</h2>
<div class="container mt-5" style="width=100%"
	<h2>@ViewData["Title"]</h2>
	<div>
		<table class="table table-hover table-responsive text-dark">
			<thead>
				<tr>
					<th>Id Feed Back</th>
					<th>Id User</th>
					<th>Id Product</th>
					<th>Coment</th>
					<th>Date</th>
					<th>Review</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model.feedback.Any())
				{
					@foreach (var FeedBack in Model.feedback)
					{
					<tr>
						<td>
								@FeedBack.IdFeedBack
						</td>
						<td>
								@FeedBack.IdProduct
						</td>
						<td>
								@FeedBack.IdUser
						</td>
						<td>
								@FeedBack.Coment
						</td>
						<td>
								@FeedBack.Coment
						</td>
						<td>
								@FeedBack.Date
						</td>
						
						<td>
							<a asp-page="./Delete" asp-route-itemid="@FeedBack.IdFeedBack" class="btn btn-danger">Delete</a>
						</td>
					</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="5">
							Không có dữ liệu
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>