@page
@model quanlyvanchuyencakoi.web3.Pages.Admin.OrderHistory.IndexModel
@{
}

<div class="container mt-5" style="width=100%"
<h2>@ViewData["Title"]</h2>

<div>
	<table class="table table-hover table-responsive text-dark">
		<thead>
			<tr>
				<th>Id User</th>
				<th>Name User</th>
				<th>Username</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
				@if (Model != null && Model.orderHistory.Any())
				{
					@foreach (var orderhistory in Model.orderHistory)
					{
					<tr>
						<td>
								@orderhistory.IdOrderHistory
						</td>
						<td>
								@orderhistory.IdUser
						</td>
						<td>
								@orderhistory.IdProduct
						</td>
						<td>
								@orderhistory.NameProduct
						</td>
						<td>
								@orderhistory.IdOrderHistory
						</td>
						<td>
								@orderhistory.TotalPrice
						</td>
						<td>
								@orderhistory.StatusProduct
						</td>
						<td>
								@orderhistory.PaymentMethod
						</td>
					</tr>
					}
				}
				else
				{
					<tr>
						<td colspan="5">
							Không có dữ liệu
						</td>
					</tr>
				}
			</tbody>
	</table>
</div>
</div>