@page
@model quanlyvanchuyencakoi.web3.Pages.Admin.Product.IndexModel
@{
}

<div class="container mt-5" style="width=100%"
<h2>@ViewData["Title"]</h2>
		<div class="col end-0">
			<a asp-page="Create" class="btn btn-primary" >Add New Product</a>
		</div>
		<div>
			<table class="table table-hover table-responsive text-dark">
				<thead>
					<tr>
						<th>Id Product</th>
						<th>Name Product</th>
						<th>Note</th>
						<th>Price</th>
						<th>Image Product</th>
					</tr>
				</thead>
				<tbody>
						@if (Model != null && Model.product.Any())
						{
							@foreach (var product in Model.product)
							{
									<tr>
										<td>
										@product.IdProduct
										</td>
										<td>
										@product.NameProduct
										</td>
										<td>
										@product.Note
										</td>
										<td>
										@product.Price
										</td>
										<td>
										@product.ImgProduct
										</td>
										<td>
										<a asp-page="./Edit" asp-route-itemid="@product.IdProduct" class="btn btn-warning">Edit</a>
										<a asp-page="./Delete" asp-route-itemid="@product.IdProduct" class="btn btn-danger">Delete</a>
										</td>
									</tr>
							}
						}
						else
						{
								<tr>
									<td colspan="5">
										Không có dữ liệu người dùng
									</td>
								</tr>
						}
					</tbody>
			</table>
		</div>
</div>
